html, body {
	overflow: hidden;
    position: absolute;
  	width: 100%;
  	height: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center; 
	font-family: 'Rock Salt', cursive;
	font-size: 2vw;
	margin: 0;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
	text-align: center;
	color: purple;
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

h1 {
	position: fixed;
	top: 0;
}

.container {
	position: absolute;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
  	height: 100vh;
}

.keyboard {
	margin: 0 5px;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65%;
    border-radius: 4px;
    z-index: 99;
}

.keyboard-wide {
	display: absolute;
	margin: 0 5px;
	width: 50%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	z-index: 99;
}

.keyboard-high {
	display: absolute;
	margin: 0 5px;
	width: 40%;
	height: 20%;
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 4px;
	z-index: 99;
}

@media (orientation: portrait) {
  .container {
	position: absolute;
    text-align: center; 
	height: 40%;
	width: 90%;
	display: flex;
	flex-direction: row;
	}

		.keyboard-wide {
		width: 40%;
		height: 50%;
	}

	.keyboard-high {
		width: 60%;
		height: 20%;
	}
}

@media {
	body {
		touch-action: manipulation;
	}
}

